<%= form_with(model: senator, local: true) do |form| %>
  <% if senator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(senator.errors.count, "error") %> prohibited this senator from being saved:</h2>

      <ul>
      <% senator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :CodigoParlamentar %>
    <%= form.text_field :CodigoParlamentar, id: :senator_CodigoParlamentar %>
  </div>

  <div class="field">
    <%= form.label :Nome %>
    <%= form.text_field :Nome, id: :senator_Nome %>
  </div>

  <div class="field">
    <%= form.label :UrlFoto %>
    <%= form.text_field :UrlFoto, id: :senator_UrlFoto %>
  </div>

  <div class="field">
    <%= form.label :UrlPagina %>
    <%= form.text_field :UrlPagina, id: :senator_UrlPagina %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :Email, id: :senator_Email %>
  </div>

  <div class="field">
    <%= form.label :SiglaPartido %>
    <%= form.text_field :SiglaPartido, id: :senator_SiglaPartido %>
  </div>

  <div class="field">
    <%= form.label :UF %>
    <%= form.text_field :UF, id: :senator_UF %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
