<p id="notice"><%= notice %></p>

<p>
  <strong>Codigoparlamentar:</strong>
  <%= @senator.CodigoParlamentar %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @senator.Nome %>
</p>

<p>
  <strong>Urlfoto:</strong>
  <%= @senator.UrlFoto %>
</p>

<p>
  <strong>Urlpagina:</strong>
  <%= @senator.UrlPagina %>
</p>

<p>
  <strong>Siglapartido:</strong>
  <%= @senator.SiglaPartido %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @senator.UF %>
</p>

<%= link_to 'Edit', edit_senator_path(@senator) %> |
<%= link_to 'Back', senators_path %>
