<div class="theme-page">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/inicial">FalaSenador</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/senadores">Senadores</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container theme-showcase" role="main">
      <h1>Senadores</h1>

      <% unless @senadores.nil? %>
        <% @senadores.each do |senador| %>

            <div class="col-sm-2">
                <img class="img-thumbnail" src="<%= senador.urlfoto %>" alt="Foto">
                  <h5><%= senador.nome %></h5>
                  <h6><%= senador.siglapartido + ' - ' + senador.uf %></h6>
                  <h6><%= senador.codigoparlamentar %></h6>

                  <% @discursos.each do |umdiscurso| %>

                    <% if senador.codigoparlamentar == umdiscurso.codigoparlamentar %>

                        <!--% contagem = WordsCounted.count(umdiscurso.textocompleto, exclude: ->(word) { word.length < 4 }) %-->
                        <% contagem = WordsCounted.count(umdiscurso.textocompleto, exclude: "- a e é o r v exª lá os na no por em da das de do dos que para pela sobre são muito com uma um sr se as como também não nós") %>

                        <p><%= contagem.most_frequent_tokens %></p>

                    <%end%>
                  <%end%>
                  <!--%break%-->

                  <!--a href="#" class="btn btn-primary">Fala mais!</a-->
            </div>

        <%end%>
      <% else %>
        <h3>Nenhum senador encontrado</h3>

      <%end%>

  </div> <!-- /container -->
</div>
